<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>JspPractice</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>NowServlet</display-name>
		<servlet-name>NowServlet</servlet-name>
		<servlet-class>KH.NowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NowServlet</servlet-name>
		<url-pattern>/NowServlet</url-pattern>
	</servlet-mapping>

	<context-param>
		<description>로깅 여부</description>
		<param-name>logEnabled</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<description>디버깅 레벨</description>
		<param-name>debugLevel</param-name>
		<param-value>5</param-value>
	</context-param>

	<error-page>
		<error-code>404</error-code>
		<location>/16error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/17error500.jsp</location>
	</error-page>


	<jsp-config>
		<jsp-property-group>
			<url-pattern>/view/*</url-pattern>
			<include-prelude>/july24/common/variable.jspf</include-prelude>
			<include-coda>/july24/common/footer.jspf</include-coda>
		</jsp-property-group>
	</jsp-config>
	
	<servlet>
		<servlet-name>DBCPInit</servlet-name>
		<servlet-class>loader.DBCPInit</servlet-class>
		<init-param>
			<param-name>jdbcdriver</param-name>
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>
		</init-param>
	<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>